@{
    ViewData["Title"] = "CreateMaterial";
}

<div class="text-center">
    <h2 class="display-4">Create material</h2>
</div>

﻿<form class="container-fluid" name="CreateMaterialForm" onsubmit="saveMaterial()" style="max-width: 800px;">
    <div class="text-danger"></div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label class="col-lg-3">
                Material name
            </label>
            <div class="col-lg-9">
                <input type="text" name="name" required class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-lg-3 justify-content-between">
                Material price
            </label>
            <div class="col-lg-9">
                <input type="number" name="price" required min="0.01" step="0.5" value="0.01" class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group" id="electivesToMaterialsParent">
        <div class="row">
            <label class="col-lg-3">
                Electives
            </label>
            <div class="col-lg-9" style="display: flex; justify-content:space-between;">
                <select onchange="checkIsElectives(this.value);" name="ElectiveId" class="form-control" asp-items="@(new SelectList(@ViewBag.Electives,"Id", "Name"))">
                    <option selected value="-1">Not chosen</option>
                </select>
                <input name="count" required type="number" min="1" value="1" class="form-control" style="width: 80px; margin-left: 6px;" />
                <input type="button" value="+" onclick="addElective();" style="width: 50px; margin-left: 6px;" class="btn btn-sm btn-light" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row justify-content-between">
            <label class="col-lg-3">
                Interests
            </label>
            <div class="col-lg-9">
                <select name="InterestIds" multiple class="form-control" asp-items="@(new SelectList(@ViewBag.Interests,"Id", "Name"))">
                    <option selected value="-1">Not chosen</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <button type="submit" style="min-width: 100px" class="btn btn-sm btn-light">
                Create
            </button>
        </div>
    </div>
</form>

<script src="~/js/Materials/update-create.js"></script>
<script>
    const childIdPref = 'createMaterialElective';

    let isElectives = false;

    let numForChild = 1;

    function saveMaterial() {
        let form = document.CreateMaterialForm;
        let objToSave = {
            name: form.name.value,
            price: form.price.value.replace('.', ','),
            electivematerials: getElectivesToSave(),
            interestids: getSelectValues(form.InterestIds)
        };
        $.ajax({
            method: "POST",
            url: "/Material/Create",
            data: objToSave,
            success: function (response) {
                if (response.result === 'Redirect') {
                    window.location = response.url;
                }
            }
        });
    }
</script>