@model SchoolBusinessLogic.BindingModels.TeacherModels.MaterialBindingModel

@{
    ViewData["Title"] = "CreateMaterial";
}
<div class="text-center">
    <h2 class="display-4">Create material</h2>
</div>
@*<form class="container-fluid" style="max-width: 480px;" method="post">
        <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="InputEmail">Login</label>
            <input type="text" name="login" class="form-control" id="InputLogin" aria-describedby="emailHelp" placeholder="Enter login">
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
        </div>
        <button type="submit" style="min-width: 100px" class="btn btn-primary">Login</button>
    </form>*@

﻿<form class="container-fluid" style="max-width: 580px;" asp-action="CreateMaterial">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label class="col-lg-4">
                Material name
            </label>
            <div class="col-lg-8">
                <input asp-for="Name" type="text" name="name" required class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-lg-4 justify-content-between">
                Material price
            </label>
            <div class="col-lg-8">
                <input asp-for="Price" type="number" name="price" required class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row justify-content-between">
            <label class="col-lg-4">
                Electives
            </label>
            <div class="col-lg-8">
                @*<select id="car" name="material" required class="form-control" asp-items="@(new SelectList(@ViewBag.Materials,"Id", "Name"))"></select>*@
                <select id="car" multiple name="electives" required class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <button type="submit" style="min-width: 100px" class="btn btn-sm btn-light">
                Create
            </button>
        </div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}