@using SchoolBusinessLogic.ViewModels.TeacherModels
@model MaterialViewModel
@{
    ViewData["Title"] = "CreateMaterial";
}


@*@{
        ViewData["Title"] = "Create";
    }
    <div class="text-center">
        <h2 class="display-4">Create order</h2>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-4">Car:</div>
            <div class="col-8">
                <select id="car" name="car" class="form-control" asp-items="@(new SelectList(@ViewBag.Cars,"Id", "CarName"))"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-4">Count:</div>
            <div class="col-8"><input type="text" name="count" id="count" /></div>
        </div>
        <div class="row">
            <div class="col-4">Sum:</div>
            <div class="col-8">
                <input type="text" id="sum" name="sum" readonly="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4"><input type="submit" value="Create" class="btn btnprimary" /></div>
        </div>
    </form>*@



<div class="text-center">
    <h2 class="display-4">Update material</h2>
</div>

﻿<form class="container-fluid" style="max-width: 580px;" asp-action="UpdateMaterial">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label class="col-lg-4">
                Material
            </label>
            <div class="col-lg-8">
                @*<select id="car" name="material" required class="form-control" asp-items="@(new SelectList(@ViewBag.Materials,"Id", "Name"))"></select>*@
                <select id="car" name="material" required class="form-control">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row justify-content-between">
            <label class="col-lg-4">
                Material name
            </label>
            <div class="col-lg-8">
                <input asp-for="Name" type="text" name="name" required class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-lg-4 justify-content-between">
                Material price
            </label>
            <div class="col-lg-8">
                <input asp-for="Price" type="text" name="price" required class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <button type="button" style="min-width: 100px" class="btn btn-sm btn-light">
                Update
            </button>
        </div>
    </div>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}